# *.pyc
# *.swp
# *.swo
rviz_plugin_tutorials
waypoints/todolist.md
waypoints/.clangd/*
waypoints/.vscode
build_isolated
waypoints/compile_commands.json
compile_commands.json
*.clangd*
devel_isolated
